<% provide(:title, 'Over ons') %>
<h1 align="center">Over ons</h1>
<p>Wij van ReisMetMij zijn in 2014 gestart met het maken van deze web-applicatie. Uit onderzoek is gebleken dat veel mensen graag een reis willen maken, maar daarvoor een laatste zetje in de goede richting nodig hebben. Veel mensen zijn op zoek naar een reismaatje om hun trip te realiseren.

Daarom willen wij reislustige mensen, met dezelfde reisinteresses bij elkaar brengen. Ons doel is dat de reizigers op een ongedwongen manier voorbereidingen kunnen treffen om hun reis te maken.</p>

<p>Als de reizigers uiteindelijk met elkaar op reis zijn. 



  